@import "@/styles/dsds/tokens/button.css";

.dsds-v-btn--variant-primary, .dsds-v-btn--variant-danger, .dsds-v-btn--variant-warning {
  .dsds-spinner {
    --spinner-color: #ffffff !important;
  }
}

button.dsds-v-btn.v-btn {
  /* Reset default styles */

  height: initial;
  padding-inline: initial;
  padding-block: initial;
  background-color: initial;
  min-width: initial;
  text-transform: initial;
  letter-spacing: 0.8px;
  line-height: 1.25;
  border: initial;
  display: inline-flex;
  flex-direction: row;
  text-indent: 0;
  max-width: initial;
  min-width: initial;
  box-shadow: initial;

  .dsds-spinner {
    --spinner-color: var(--color-icon-default-1st);
  }

  @apply typo-button-label-medium transition-none gap-button-default inline-flex items-center justify-center select-none whitespace-nowrap rounded-xs! transition-colors duration-100 outline-none border border-transparent;

  /* Size modifiers */
  &.dsds-v-btn--size-small {
    @apply btn-small h-5;
    @apply typo-button-label-small;

    &.dsds-v-btn--with-icon.dsds-v-btn--icon-pos-after {
      @apply pr-(--spacing-button-pr-small-icon-after-text);
    }
  }

  &.dsds-v-btn--size-medium {
    @apply btn-medium h-6;

    &.dsds-v-btn--with-icon {
      @apply px-(--spacing-button-px-medium-icon-text);
    }
  }

  &.dsds-v-btn--size-large {
    @apply btn-large h-7;
  }

  /* Icon-only variants reuse size heights but square paddings */
  &.dsds-v-btn--icon-only {
    @apply p-0;

    &.dsds-v-btn--size-small {
      @apply size-5 btn-small min-w-5!;
    }

    &.dsds-v-btn--size-medium {
      @apply size-6 btn-medium min-w-6!;
    }

    &.dsds-v-btn--icon-only.dsds-v-btn--size-large {
      @apply size-7 btn-large min-w-7!;
    }
  }

  /* Variant modifiers - default/normal state */
  &.dsds-v-btn--variant-primary {
    @apply bg-button-primary-bg! text-button-primary-text!;

    &:hover:not(.dsds-v-btn--disabled) {
      @apply bg-button-primary-bg-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled) {
      @apply bg-button-primary-bg-hover!;
    }
    &.dsds-v-btn--disabled {
      @apply bg-button-primary-bg-disabled! text-button-primary-text-disabled! cursor-not-allowed!;
    }
  }

  &.dsds-v-btn--variant-secondary {
    @apply bg-button-2nd-bg! text-button-2nd-text! border-button-2nd! border-none!;

    &:hover:not(.dsds-v-btn--disabled, .dsds-v-btn--active, .dsds-v-btn--selected) {
      @apply border-button-2nd-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled, .dsds-v-btn--active, .dsds-v-btn--selected)[data-active="true"] {
      @apply border-button-active-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled):not(.dsds-v-btn--selected)[data-active="false"] {
      @apply border-button-2nd-hover!;
    }

    &.dsds-v-btn--active {
      @apply text-button-2nd-text-selected! border-button-active! hocus:border-button-active-hover!;
    }

    &.dsds-v-btn--selected {
      @apply text-button-2nd-text-selected! bg-button-2nd-bg-selected! border-button-selected!;
    }

    &.dsds-v-btn--disabled {
      @apply bg-button-2nd-bg-disabled! text-button-2nd-text-disabled!;
    }

    /* Typography overrides for secondary */
    &.dsds-v-btn--size-small {
      @apply typo-button-label-small-light;
    }

    &.dsds-v-btn--size-medium,
    &.dsds-v-btn--size-large {
      @apply typo-button-label-medium-light;
    }
  }

  &.dsds-v-btn--variant-warning {
    @apply bg-button-warning-bg! text-button-warning-text!;

    &:hover:not(.dsds-v-btn--disabled) {
      @apply bg-button-warning-bg-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled) {
      @apply bg-button-warning-bg-hover!;
    }

    &.dsds-v-btn--disabled {
      @apply bg-button-warning-bg-disabled! text-button-warning-text-disabled!;
    }
  }

  &.dsds-v-btn--variant-danger {
    @apply bg-button-danger-bg! text-button-danger-text!;

    &:hover:not(.dsds-v-btn--disabled) {
      @apply bg-button-danger-bg-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled) {
      @apply bg-button-danger-bg-hover!;
    }

    &.dsds-v-btn--disabled {
      @apply bg-button-danger-bg-disabled! text-button-danger-text-disabled!;
    }
  }

  &.dsds-v-btn--variant-ghost {
    @apply bg-button-ghost-bg text-button-ghost-text!;

    &:hover:not(.dsds-v-btn--disabled):not(.dsds-v-btn--selected) {
      @apply bg-button-ghost-bg-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled):not(.dsds-v-btn--selected).dsds-v-btn--active {
      @apply bg-button-ghost-bg-hover!;
    }

    &.dsds-v-btn--active {
      @apply text-button-2nd-text-selected! border-button-active! bg-button-ghost-bg-activated! hover:bg-button-ghost-bg-activated! hocus:border-button-active-hover!;
    }

    &.dsds-v-btn--selected {
      @apply text-button-2nd-text-selected! bg-button-ghost-bg-selected!;
    }

    &.dsds-v-btn--disabled {
      @apply bg-button-ghost-bg-disabled! text-button-ghost-text-disabled!;
    }

    /* Typography overrides for ghost */
    &.dsds-v-btn--size-small {
      @apply typo-button-label-small-light!;
    }

    &.dsds-v-btn--size-medium,
    &.dsds-v-btn--size-large {
      @apply typo-button-label-medium!;
    }
  }

  &.dsds-v-btn--variant-ghostLink {
    @apply bg-button-ghost-link-bg text-button-ghost-link-text!;

    &:hover:not(.dsds-v-btn--disabled) {
      @apply bg-button-ghost-link-bg-hover!;
    }

    &:focus-visible:not(.dsds-v-btn--disabled) {
      @apply bg-button-ghost-link-bg-hover!;
    }

    &.dsds-v-btn--disabled {
      @apply bg-button-ghost-link-bg-disabled! text-button-ghost-link-text-disabled!;
    }

    /* Typography overrides for ghostLink */
    &.dsds-v-btn--size-small {
      @apply typo-button-label-small-light!;
    }

    &.dsds-v-btn--size-medium,
    &.dsds-v-btn--size-large {
      @apply typo-button-label-medium-light!;
    }
  }

  .button-icon {
    flex-shrink: 0;
    @apply pointer-events-none;
  }

  &::after {
    display: none !important;
  }

  /* Remove default Vuetify overlays */
  & > .v-btn__overlay {
    display: none !important;
  }

  /* Reset default focus styles */
  &:focus-visible {
    /* @apply btn-focus; */
    box-shadow: none !important;

    &::after {
      display: none !important;
    }
    @apply !outline-ring;
  }
}
