@import "@/styles/dsds/tokens/dropdown.css";

.dsds-dropdown-content-base {
  @apply !rounded-xs border-none;

  .v-list-item-title {
    mark {
      background-color: var(--color-marker-highlight-bg);
    }
  }

  &.dsds-v-autocomplete-menu:not(:focus-visible) {
    .v-list-item {
      &.dsds-auto-selected-item {
        background-color: var(--color-bg-on-item-list-datatable-selected);
      }
    }
  }

  .v-list {
    @apply dropdown-content-base! py-1.5! px-px!;

    .v-list-item {
      @apply flex items-center !min-h-[26px] !h-[26px] !px-2.5 !select-none text-sm! hover:bg-dropdown-item-bg-hover hover:text-dropdown-item-text-hover;

      * {
        letter-spacing: var(--dsds-letter-spacing);
      }

      & > .v-list-item__overlay {
        @apply transition-none! opacity-0!;
      }

      &::after {
        @apply transition-none! border-brand rounded-xs border-1;
      }

      &:focus-visible {
        background-color: var(--color-bg-on-item-list-datatable-selected);
      }

      &:focus-visible::after {
        @apply opacity-100;
      }

      &:hover {
        & > .v-list-item__overlay {
          @apply bg-dropdown-item-bg-hover;
        }
      }

      &.v-list-item--active,
      &.v-list-item--focus {
        & > .v-list-item__overlay {
          @apply bg-transparent;
        }
      }

      .v-list-item__content {
        * {
          @apply typo-medium text-sm! text-neutral-1st;
        }
      }

      &.v-list-item--active > .v-list-item__content * {
        @apply text-brand;
      }
    }
  }

  /* `All` 헤더 고정 영역 */
  .sticky-all-header {
    flex-shrink: 0; /* 축소되지 않도록 */
    position: sticky;
    top: -6px;
    margin-top: -6px;
    padding-top: 6px;
    z-index: 100;
    background: white;
  }

  .all-divider {
    @apply my-1.5! h-px bg-dropdown-list-divider!;
  }

  /** 애니메이션 커스텀 */
  transform-origin: 0px 0px !important;
  /* animation-duration: 0.1s; */
  /* transition-duration: 0.1s; */
}
