@import "@/styles/dsds/tokens/radio.css";

.dsds-v-radio-group {
  @apply h-5 py-0.5 flex items-center;
  * {
    @apply text-sm typo-sok-caption-12-400;
    opacity: 100;
  }

  .v-input__details {
    @apply h-[14px]! py-0;
    display: none;
  }

  .v-input__control {
    @apply h-[14px]!;
  }

  /* 라디오 아이템별 수직 간격 */
  .v-selection-control-group {
    @apply gap-2;
    &.v-selection-control-group--inline {
      /* 수평 배치 시 라디오 아이템별 간격 넓게 */
      @apply gap-2.5!;
    }
  }

  .v-selection-control {
    @apply gap-1.5!; /* 아이콘-라벨 간 기본 간격 */

    & > .v-label {
      /* 40px 레이블 높이를 Typo 기준에 맞춤 */
      @apply typo-caption text-neutral-2nd pr-1 h-[initial];
    }

    /* 아이콘+레이블 wrapper 크기 초기화 */
    .v-selection-control__wrapper {
      height: initial;
      width: initial;
    }
  }

  /* 라디오 입력 영역 및 관련 하위 요소들 */
  .v-selection-control__input {
    @apply w-[14px]! h-[14px]!;

    /* 라디오 입력 영역을 아이콘 컨테이너로 사용 */
    @apply relative inline-flex items-center justify-center;

    /* 1) 기본 스타일: 14x14 원, 테두리 */
    @apply rounded-full border transition-none border-check-off-default bg-check-off-bg-default;

    &::before {
      display: none;
    }

    /* 2) 체크되지 않은 상태 hover 시: border-color 진하게  */
    &:hover {
      border-color: var(--colors-neutral-neutral-12);
    }

    /* 3) 체크된 상태: border/background #0077c8 */
    &:has(input:checked) {
      @apply bg-brand border-brand;

      &::before {
        /* 내부 6x6 하얀 원(정중앙) */
        display: block;
        @apply absolute w-1.5 h-1.5 rounded-full! border-none! bg-white;
        /* 중앙 정렬 */
        opacity: 100;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        @apply bg-brand-hover! border-brand-hover!;
      }
    }

    /* Vuetify 아이콘 숨김(있을 경우) */
    & > .v-icon {
      display: none !important;
    }

    & > input {
      opacity: 0;
    }
  }

  /* 접근성/상태 보강(옵션): disabled 라디오 희미하게 */
  .v-selection-control--disabled {
    .v-selection-control__input {
      background-color: var(--colors-neutral-neutral-06);
      border-color: var(--colors-neutral-neutral-09);
    }

    &:has(input:checked) {
      .v-selection-control__input::before {
        @apply opacity-35;
      }
    }
  }
}
