@import "vue-sonner/style.css";
@import "@/styles/dsds/tokens/toast.css";

.dsds-custom-toast {
  @apply flex flex-row rounded-xs shadow-lg;
}

.dsds-toast-border {
  @apply w-1 rounded-l-xs;
}

.dsds-toast-border--success {
  @apply bg-[var(--colors-nitrogen-green-n-green-10)];
}

.dsds-toast-border--fail {
  @apply bg-[var(--colors-oxygen-red-o-red-09)];
}

.dsds-toast-border--warning {
  @apply bg-[var(--colors-copper-yellow-cu-yellow-09)];
}

.dsds-toast-border--inform {
  @apply bg-[var(--colors-neutral-neutral-11)];
}

.dsds-toast-content {
  @apply flex max-h-[280px] w-[288px] flex-row gap-3 rounded-r-xs py-4 pr-4 pl-3 text-[var(--colors-neutral-neutral-17)];
}

.dsds-toast-content--success {
  @apply bg-[var(--colors-nitrogen-green-n-green-03)];
}

.dsds-toast-content--fail {
  @apply bg-[var(--colors-oxygen-red-o-red-03)];
}

.dsds-toast-content--warning {
  @apply bg-[var(--colors-copper-yellow-cu-yellow-04)];
}

.dsds-toast-content--inform {
  @apply bg-[var(--colors-wafer-blue-wafer-blue-01)];
}

.dsds-toast-icon {
  @apply flex h-4 w-5 justify-center;
}

.dsds-toast-text {
  @apply flex w-full flex-col;
}

.dsds-toast-title {
  @apply typo-sok-h6-14-700 mb-1 h-5;
}

.dsds-toast-body {
  @apply typo-sok-body-14-400 mb-1;
}

.dsds-toast-link {
  @apply typo-sok-body-14-400 w-fit text-[var(--color-text-linked)] underline underline-offset-3;
}

.dsds-toast-close {
  @apply flex h-5 w-5 items-center justify-center;
}

.dsds-toast-close-button {
  @apply hover:bg-[var(--color-bg-on-ghost-button-ghostbtn-hover)] focus:bg-[var(--color-bg-on-ghost-button-ghostbtn-hover)];
}
