@import "@/styles/dsds/tokens/boxes.css";
@import "@/styles/dsds/tokens/dropdown.css";
@import "@/styles/dsds/tokens/button.css";

.dsds-datepicker,
.dp__outer_menu_wrap {
  /* 기본 설정 */
  --dp-font-family: inherit;
  --dp-border-radius: 2px;
  --dp-button-icon-height: 12px;

  /* 캘린더 폰트 크기 */
  --dp-menu-padding: 6px;
  --dp-cell-padding: 8px;
  --dp-cell-size: 26px;
  --dp-month-year-row-button-size: 16px;

  /* 색상 설정 */
  --dp-primary-color: var(--colors-neutral-neutral-15);
  --dp-text-color: var(--color-text-on-box-on-box-selected);
  --dp-border-color: #d1d5db;
  --dp-border-color-hover: #9ca3af;
  --dp-background-color: #ffffff;
  --dp-font-size: 14px;

  * {
    @apply transition-none;
  }

  .dp__arrow_top {
    display: none !important;
  }

  .dp--menu-wrapper {
    z-index: 50;
  }

  .dp__menu {
    @apply dropdown-content-base;
    @apply border-none! overflow-hidden;
    * {
      @apply typo-sok-h6-14-400;
    }
  }

  .dp__input_wrap > input {
    @apply rounded-xs text-basic-box-text-value typo-medium truncate;
    @apply placeholder:text-basic-box-text-hint placeholder:opacity-100!;
  }

  .dp__input_wrap {
    @apply rounded-xs flex items-center;

    .dp__input_icon {
      left: unset;
      @apply right-[7px];
    }

    .dp--clear-btn {
      left: unset;
      right: 20px;
      width: 16px;
      height: 16px;
      padding: 0;
      border-radius: 2px;
      transition: background-color 0.1s ease;
      @apply absolute! right-[25px] size-[14px];
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .dp--tp-wrap {
    @apply max-w-full pb-3;
    .dp__time_picker_inline_container,
    .dp__flex {
      width: 100%;
    }

    .dp__time_input {
      @apply flex-1;
    }

    .dp__time_col > button {
      @apply py-0;
    }

    .dp__tp_inline_btn_top:hover {
      .dp__tp_btn_in_l {
        @apply translate-x-px;
      }
      .dp__tp_btn_in_r {
        @apply translate-x-[-1px];
      }
    }
  }

  .dp__instance_calendar {
    & > .dp__menu_inner {
      @apply p-0;
      & > div {
        & > .dp--header-wrap {
          border-bottom: 1px solid var(--dp-border-color);
          @apply p-3;

          .dp__inner_nav {
            border-radius: 1px;
            & > svg > path {
              stroke: var(--color-icon-default-1st);
            }
          }

          & > .dp__month_year_wrap {
            @apply typo-body justify-center flex gap-1.5 h-6;
            width: initial;

            & > .dp__month_year_wrap {
              button.dp--arrow-btn-nav {
                @apply size-4;
              }
              button.dp__month_year_select {
                width: initial;
                font-weight: initial;
                @apply min-w-12! w-12px h-6 border-button-2nd rounded-xs hover:bg-transparent hover:border-button-2nd-hover transition-none;
                @apply px-button-px-medium! text-basic-box-text-value inline-flex justify-start;

                padding-right: 24px !important;
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14' fill='none'><path d='M11.5001 5L7.50001 9.00002L3.50011 5' stroke='%23565e66' stroke-width='1.2'/></svg>");
                background-repeat: no-repeat;
                background-position: right center;
                background-position-x: calc(100% - 6px);

                &:nth-child(1) {
                  @apply w-16;
                }
                &:nth-child(2) {
                  @apply w-20;
                  &::after {
                    content: "년";
                  }
                }
              }
              width: initial;
              /* 월 -> 년을 년 -> 월로 변경 */
              flex-direction: row-reverse;
              gap: 4px;
            }
          }
        }
        & > .dp__calendar {
          @apply p-3 pt-2;
        }
      }

      .dp__calendar {
        @apply flex flex-col gap-0.5;
        & > .dp__calendar_row {
          @apply my-0;
          @apply h-7 min-h-7 max-h-7;
        }

        /* 달력 헤더 */
        .dp__calendar_header {
          @apply p-0 mb-1.5 gap-1;
          & > .dp__calendar_header_item {
            @apply p-0 flex items-center justify-center w-6 h-6;
          }
        }

        .dp__calendar_header_separator {
          display: none;
        }

        .dp__calendar_header_item {
          color: var(--colors-neutral-neutral-13);
        }
      }

      div.dp__calendar_item {
        @apply size-7 min-w-7 max-w-7 flex items-center justify-center;

        border: 1px solid transparent;
        &:has(.dp__range_start, .dp__range_between, .dp__range_end, .dp__date_hover_start, .dp__date_hover_end) {
          @apply bg-button-ghost-bg-hover;
          & > .dp__cell_inner {
            @apply bg-button-ghost-bg-hover;
          }
          @apply border border-brand;
        }

        &:has(.dp__range_between) {
          @apply border-l-0 border-r-0;
        }

        &:has(.dp__range_start, .dp__date_hover_start) {
          @apply border-r-0;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }
        &:has(.dp__range_end, .dp__date_hover_end) {
          @apply border-l-0;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
        &:has(.dp__date_hover_end) {
          padding-left: 1px;
        }

        &:has(.dp__active_date, .dp__range_start.dp__range_end) {
          @apply bg-button-ghost-bg-hover;
          @apply border border-brand rounded-full;
        }
      }

      .dp__cell_inner {
        @apply size-[26px] min-w-[26px] max-w-[26px]  rounded-full text-button-ghost-text p-px transition-none flex items-center justify-center;
        border: 1px solid transparent;
        z-index: 2;

        & > .dp__cell_content {
          @apply size-6 min-w-6 min-h-6 max-w-6 max-h-6 flex items-center justify-center;
        }

        &.dp__cell_offset {
          @apply text-button-ghost-text-disabled;
        }

        &.dp__active_date,
        &.dp__range_start,
        &.dp__range_end {
          @apply bg-transparent;
        }
        &.dp__date_hover:hover {
          @apply bg-button-ghost-bg-hover;
          border-color: var(--colors-neutral-neutral-09);
        }

        &.dp__today {
          color: white;
          border-color: transparent;
          &:hover {
            background-color: transparent;
          }
          & > .dp__cell_content {
            @apply border border-white rounded-full;
            background-color: var(--colors-neutral-neutral-15);
          }
        }
      }
    }
  }

  /* 비활성화 상태 */
  .dp__input_wrap input:disabled {
    background-color: #f9fafb;
    color: #9ca3af;
    cursor: not-allowed;
  }

  /* 추가 세부 조정 */
  /*
  .dp__calendar_item:nth-child(7n),
  .dp__calendar_item:nth-child(7n-1) {
    .dp__cell_inner {
      color: #dc2626;
    }
  }
  */
}

/* Medium 크기 (24px) */
.dsds-datepicker-medium {
  &.has-value-padding {
    input.dp__input {
      padding-right: 24px !important;
    }
  }

  .dp__input_wrap {
    input {
      @apply py-px pl-2 bg-white;
      border: 1px solid var(--color-text-box-border-default);
      &:hover {
        border-color: var(--color-text-box-border-hover);
      }
      &:focus {
        border-color: var(--color-text-box-border-focus);
      }
    }
  }
}
