@import "tw-animate-css";
@import "./styles/dsds/tokens/variables/index.css";
@import "./styles/dsds/common/index.css";
@import "./styles/dsds/vuetify/index.css";

@theme inline {
  /* Vuetify-specific overrides if needed */
}

html {
  overflow: hidden;
}

.d-flex { @apply !flex; }
.ma-0 { @apply !m-0; }
.pa-0 { @apply !p-0; }
.pa-1 { @apply !p-1; }
.pa-2 { @apply !p-2; }
.pa-3 { @apply !p-3; }
.pa-4 { @apply !p-4; }
.pa-5 { @apply !p-5; }
.pa-6 { @apply !p-6; }
.pa-7 { @apply !p-7; }
.pa-8 { @apply !p-8; }

button,[type=button],[type=reset],[type=submit],[role=button] {
  cursor: pointer;
}
