@import "realgrid/dist/realgrid-style.css";
@import "@/styles/dsds/tokens/variables/index.css";

@theme inline {
  --color-dsds-realgrid-text: var(--colors-neutral-neutral-17);
}

:root {
  --dsds-realgrid-scrollthumb-bg: #bbbdbf;
}

.rg-data-cell {
  text-underline-offset: 2px;
}

i.dsds-rg-icon {
  @apply block size-4 min-h-4 min-w-4;
  background-repeat: no-repeat;
  background-position-x: 0px;
}

@utility dsds-rg-icon-magnify {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 9L13 13' stroke='%23565e66' stroke-width='1.2'/><circle cx='6' cy='6' r='4.4' stroke='%23565e66' stroke-width='1.2'/></svg>");
  &.disabled {
    background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 9L13 13' stroke='%23bbbdbf' stroke-width='1.2'/><circle cx='6' cy='6' r='4.4' stroke='%23bbbdbf' stroke-width='1.2'/></svg>");
  }
}

@utility dsds-rg-icon-close {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.5 3.5L10.5 10.5' stroke='%23565E66' stroke-width='1.2'/><path d='M10.5 3.5L3.5 10.5' stroke='%23565E66' stroke-width='1.2'/></svg>");
  &.disabled {
    background-image: url("data:image/svg+xml,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.5 3.5L10.5 10.5' stroke='%23bbbdbf' stroke-width='1.2'/><path d='M10.5 3.5L3.5 10.5' stroke='%23bbbdbf' stroke-width='1.2'/></svg>");
  }
}

.rg-data-cell.dsds-rg-icon {
  &>.rg-cell-buttons {
    margin-right: 2px;
    cursor: pointer;
    &:hover {
      & > .rg-button-action {
        @apply bg-gray-100 border border-outer;
      }
    }
  }

  &.dsds-rg-action-icon-magnify {
    .rg-button-action {
      @apply dsds-rg-icon-magnify;
    }
  }

  &.dsds-rg-action-icon-close {
    .rg-button-action {
      @apply dsds-rg-icon-close;
    }
  }
}


.rg-filter-selector {
  border-radius: 2px;
}

.rg-filter-header {

  .rg-filter-searchbox > input {
    color: var(--color-text-text-neutral-1st);
    border-radius: 2px;
    padding-inline: 2px;
    &:focus {
      @apply outline-ring-inner;
    }
  }

  .rg-filter-reset {
    font-size: 12px;
  }

  .rg-filter-reset, .rg-filter-select-all > .rg-filter-text, .rg-filter-column-reset {
    &:hover {
      color: var(--color-text-box-border-hover);
    }
  }

  .rg-filter-select-all {
    @apply h-5 overflow-hidden;
    padding-inline: 3px;

    input.rg-filter-checkbox {
      accent-color: var(--color-brand);
      margin-right: 4px;
      margin-top: 2px;
      height: 15px;
    }

    .rg-filter-column-reset {
      padding-top: 1px;
    }
  }
}

.rg-filter-list-viewport {
  padding-block: 2px;
  border-radius: 2px;
}

.rg-filter-list {
  &> .rg-filter-item {
    @apply flex items-center typo-sok-caption-12-400 h-5 px-0.5;
    line-height: 20px;
    input.rg-filter-checkbox {
      accent-color: var(--color-brand);
      margin-right: 4px;
      margin-top: -2px;
    }
    &:hover {
      color: var(--color-text-text-neutral-1st);
      background-color: var(--color-dropdown-bg-hover)
    }
  }
}

.rg-dropdownlist {
  @apply typo-caption rounded-xs text-dsds-realgrid-text shadow-md scrollbar-thin;
  border-color: #eaebeb;
  margin-top: 1px;

  & > .rg-dropdown-item:first-child {
    @apply mt-1.5;
  }
  & > .rg-dropdown-item:last-child {
    @apply mb-1.5;
  }
  & > .rg-dropdown-item {
    @apply cursor-pointer px-1.5! py-1!;
    &:hover {
      background-color: var(--color-bg-on-frame);
    }
    &.rg-dropdown-select {
      @apply text-brand bg-transparent;
    }
  }
}

.dsds-realgrid {
  padding-bottom: 2px;
  /* syncGridHeight 보상 */
  max-height: calc(100% - 2px) !important;

  .rg-load-indicator {
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
    background: url("data:image/svg+xml,<svg width='48' height='48' stroke='%233392d3' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><style>.spinner_V8m1{transform-origin:center;animation:spinner_zKoa 2s linear infinite}.spinner_V8m1 circle{stroke-linecap:round;animation:spinner_YpZS 1.4s ease-in-out infinite}@keyframes spinner_zKoa{100%{transform:rotate(360deg)}}@keyframes spinner_YpZS{0%{stroke-dasharray:0 316;stroke-dashoffset:0}47.5%{stroke-dasharray:88 316;stroke-dashoffset:-34}95%,100%{stroke-dasharray:88 316;stroke-dashoffset:-124}}</style><g class='spinner_V8m1'><circle cx='24' cy='24' r='20' fill='none' stroke-width='4'></circle></g></svg>")
      no-repeat center center;
    background-size: 48px;
    background-color: rgba(234, 236, 239, 0.5);
  }

  .rg-tooltip {
    @apply typo-caption text-dsds-realgrid-text elevation-tooltip rounded-sm;
    letter-spacing: 0.8px;
    color: white;
    border-color: var(--color-border-border-2-outer);
    background-color: var(--color-bg-on-tooltip-tooltip-bg);
  }

  .rg-filter-selector {
    z-index: 9999;
  }

  .rg-grid.rg-root {
    border-color: var(--color-border-border-2-outer);
    .rg-empty-grid {
      @apply typo-caption text-[var(--colors-neutral-neutral-13)];
    }
  }

  .rg-editor-container {
    border-color: var(--color-brand-hover) !important;

    & > input.rg-editor {
      @apply typo-caption text-dsds-realgrid-text;
      @apply pl-[5px]!;
    }
  }

  .rg-scrolltrack {
    border-color: var(--colors-neutral-neutral-03);
    border-width: 0px !important;
    background-color: var(--colors-neutral-neutral-03);
  }


  .rg-fixed-column-bar {
    border-left: 1px solid  var(--color-border-border-2-outer);
    border-right: 1px solid  var(--color-border-border-2-outer);
    background-color: white;
  }

  .rg-hscrollbar,
  .rg-vscrollbar {
    .rg-scroll-left,
    .rg-scroll-right,
    .rg-scroll-up,
    .rg-scroll-down {
      border-color: var(--colors-neutral-neutral-03);
      background-color: var(--colors-neutral-neutral-03);
    }

    .rg-scrollthumb {
      border-color: var(--dsds-realgrid-scrollthumb-bg);
      background-color: var(--dsds-realgrid-scrollthumb-bg);

      &:hover {
        border-color: var(--colors-neutral-neutral-12);
        background-color: var(--colors-neutral-neutral-12);
      }
    }
  }

  .rg-hscrollbar > .rg-scrollthumb {
    top: 2px !important;
    height: 8px !important;
  }

  .rg-vscrollbar > .rg-scrollthumb {
    left: 2px !important;
    width: 8px !important;
  }

  .rg-hscrollbar {
    .rg-scroll-left,
    .rg-scroll-right {
      border-inline-width: 0;
    }
  }

  .rg-vscrollbar {
    .rg-scrolltrack {
      border-inline-color: var(--colors-neutral-neutral-03);
    }

    .rg-scroll-up,
    .rg-scroll-down {
      border-block-width: 0;
      border-inline-color: var(--colors-neutral-neutral-03);
    }
  }

  .rg-scrolledge {
    border-color: var(--colors-neutral-neutral-03);
    background-color: var(--colors-neutral-neutral-03);
  }

  .rg-header {
    & > .rg-table {
      td.rg-header-group-cell:last-child {
        border-right: none !important;
      }
    }
  }

  .rg-head,
  .rg-header {
    .rg-table {
      tr > td {
        border-color: var(--color-border-border-2-outer);
        background-color: var(--colors-neutral-neutral-02);
        @apply typo-caption text-dsds-realgrid-text;
      }
      .rg-header-group-cell > div {
        padding-left: 6px;
      }

      .rg-header-group-cell.rg-header-align-left > div {
        text-align: left;
      }

      .rg-header-cell {
        &.dsds-realgrid-compact-header {
          .rg-header-renderer {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
          }
        }
        .rg-header-renderer {
          text-align: left;
          padding-left: 6px;
          padding-right: 0px;
        }
        .rg-header-filtering {
          margin-left: -4px !important;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M8 0H0V1H1V2H2V3H3V10H4V9H5V3H6V2H7V1H8V0Z' fill='%2390969D'/></svg>");
          &:hover {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M8 0H0V1H1V2H2V3H3V10H4V9H5V3H6V2H7V1H8V0Z' fill='%23b2b6bb'/></svg>");
          }
          &.filter-activated {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M8 0H0V1H1V2H2V3H3V10H4V9H5V3H6V2H7V1H8V0Z' fill='%233392d3'/></svg>");
            &:hover {
              background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 8 10' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M8 0H0V1H1V2H2V3H3V10H4V9H5V3H6V2H7V1H8V0Z' fill='%230077c8'/></svg>");
            }
          }
        }
        &:last-child {
          border-right: none !important;
        }
      }
    }
  }

  .rg-rowbarcontainer {
    .rg-table {
      tr > td {
        @apply typo-caption text-dsds-realgrid-text;
      }
    }
  }

  .rg-body .rg-table tr td:hover,
  .rg-fixed-body .rg-table tr td:hover {
    background: var(--colors-neutral-neutral-07);
  }

  .rg-body, .rg-fixed-body {
    .rg-table {
      .rg-data-row {
        @apply bg-white;
        &.rg-alternate-row {
          @apply bg-white;
        }

        .rg-data-cell {
          text-align: left;

          &:last-child {
            border-right: none !important;
          }

          & > .rg-renderer {
            padding-left: 6px;
          }

          &.disabled-edit-button {
            .rg-button-list {
              pointer-events: none !important;
              background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14.24 14' fill='none'><path d='M11.0001 4.99997L7.00002 8.99999L3.00012 4.99997' stroke='%23bbbdbf' fill='none' stroke-width='1.2'/></svg>") !important;
            }
          }

          .rg-button-list {
            left: -2px !important;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14.24 14' fill='none'><path d='M11.0001 4.99997L7.00002 8.99999L3.00012 4.99997' stroke='%23565e66' fill='none' stroke-width='1.2'/></svg>");
            background-position-x: 2px;
            background-position-y: 1px;
            border-radius: 2px;
            height: 14px !important;
            max-height: 14px !important;
            cursor: pointer;

            &:hover {
              background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14.24 14' fill='none'><path d='M11.0001 4.99997L7.00002 8.99999L3.00012 4.99997' stroke='black' fill='none' stroke-width='1.2'/></svg>");
              background-color: var(--color-icon-default-hover-bg) !important;
              @apply outline-1 outline-[var(--color-icon-default-hover-border)];
            }
          }

          &.link-text > .rg-renderer {
            @apply link-text;
          }

          &.dsds-realgrid-cell-icon {
            @apply rounded-px;
            &:hover {
              background-color: inherit;
            }
            & > .rg-renderer {
              padding-left: 2px;
              padding-right: 0px;
              & > button {
                cursor: pointer;
                padding-top: 2.5px;
              }
            }
          }

          &.dsds-realgrid-cell-compact > .rg-renderer {
            padding-left: 0px;
            padding-right: 0px;
          }

          &.dsds-realgrid-cell-compact-center > .rg-renderer {
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            text-overflow: unset;
          }

          &.dsds-realgrid-cell-bg-selected {
            background-color: var(--color-bg-on-item-list-datatable-selected);
          }

          &.dsds-realgrid-cell-text-disabled {
            color: var(--colors-neutral-neutral-14);
          }
        }
      }
      tr > td {
        border-color: var(--color-border-border-2-outer);
        border-bottom-color: var(--color-border-border-3-inner);
        @apply typo-caption text-dsds-realgrid-text;
      }
    }
  }

  /*그리드에서 행 선택 시 배경색상 설정*/
  /*선택된 행 색상*/
  .rg-focus {
    /* 포커스 셀의 색깔 변경 */
    border: 2px solid #1976d2 !important;
  }

  .rg-selection-cell {
    /* 선택 영역의 색깔 변경 */
    background: rgba(33, 150, 243, 0.9) !important;
    color: inherit;
  }

  .rg-selection {
    background: rgba(33, 150, 243, 0.2) !important;
    border: 1px solid rgba(208, 227, 248, 0.67);
  }

  .rg-rowhover {
    background: rgba(205, 210, 217, 0.1) !important;
  }

  .rg-rowfocus {
    background: rgba(205, 210, 217, 0.1) !important;
    outline: 1px solid var(--color-brand) !important;
    outline-offset: -1px;
  }

  .rg-rowblock {
    background: rgba(205, 210, 217, 0.2) !important;
  }

  /*포커스가 있는 헤더 색상*/
  .rg-header-focus {
    background: rgb(208, 227, 248) !important;
    &.rg-header-focus-hidden {
      background: var(--colors-neutral-neutral-02) !important;
    }
  }

  /*선택되지 않은 다른 헤더는 기본 색상 유지 */
  td.rg-header-cell.rg-header-select {
    background-color: #fafafa;
    border-right: 1px solid var(--color-border-border-2-outer) !important;
    border-bottom: 1px solid var(--color-border-border-2-outer) !important;
  }

  /*좌측 indicator 색상 */
  .rg-rowbarcontainer .rg-table tr td {
    background-color: white;
    border-right-color: var(--color-border-border-2-outer);
    border-bottom-color: var(--color-border-border-2-outer);
    &.rg-rowindicator-cell > div {
      @apply text-left ml-1.5;
    }
    &.rg-rowindicator-focus {
      background-color: rgba(208, 227, 248, 1) !important;
    }
  }

  td.rg-head-cell.rg-checkbar-head, .rg-checkbar-cell {
    input[type="checkbox"] {
      accent-color: var(--color-brand);
    }
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #fff;
      border-radius: 2px;
      height: 14px;
      width: 14px;
      border: 1px solid #ccd1d6;

      &:checked {
        background-image: url("data:image/svg+xml,<svg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4L3.5 6.5L9 1' stroke='white' stroke-width='1.8' /></svg>");
        background-repeat: no-repeat;
        background-position-x: 1px;
        background-position-y: 2px;
      }

      &:disabled {
        border-color: #e0e3e6;
        cursor: not-allowed;
        &:checked {
          background-color: #84bde4;
          border-color: #84bde4;
        }
      }

      &:not(:disabled){
        &:hover {
          border-color: #a5abb1;
        }
        &:checked {
          background: #3392d3;
          border-color: #3392d3;
          background-image: url("data:image/svg+xml,<svg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4L3.5 6.5L9 1' stroke='white' stroke-width='1.8' /></svg>");
          background-repeat: no-repeat;
          background-position-x: 1px;
          background-position-y: 2px;
          &:hover {
            background-color: #0077b8;
            border-color: #0077b8;
          }
        }
      }
    }
  }

  /*End*/

  /*Context Popup custom*/
  .rg-popup-menu {
    min-height: 62px;
  }

  .rg-popup-item {
    height: 31px;
  }
}
