@import "tailwindcss";
@import "tw-animate-css";

@import "./styles/variables";
@import "./styles/badge.css";
@import "./styles/button.css";
@import "./styles/boxes.css";
@import "./styles/dropdown.css";
@import "./styles/tabs.css";
@import "./styles/radio.css";
@import "./styles/checkbox.css";
@import "./styles/tag.css";
@import "./styles/toggle.css";
@import "./styles/demo.css";
@import "./styles/tooltip.css";
@import "./styles/popover.css";
@import "./styles/header.css";
@import "./styles/footer.css";
@import "./styles/calendar.css";
@import "./styles/toast.css";
@import "./styles/lnb.css";
@import "./styles/slider.css";
@import "./styles/pagetabs.css";

@theme inline {
}
