@import "./button.css";

@theme inline {
  --color-badge-notification-border: var(--colors-oxygen-red-o-red-09);
  --color-badge-notification-bg: var(--colors-oxygen-red-o-red-10);
  --color-badge-notification-text: var(--colors-neutral-neutral-01);
  --color-badge-count-border: #f73529;
  --color-badge-count-bg: #e82c1f;
  --color-badge-count-text: var(--colors-neutral-neutral-01);
  --color-badge-text-bg-default: var(--colors-neutral-neutral-15);
  --color-badge-text-bg-blue: var(--colors-wafer-blue-wafer-blue-09);
  --color-badge-text-text: var(--colors-neutral-neutral-01);
}

/* 기본 Badge 스타일 */
.dsds-badge {
  @apply typo-footnote items-center justify-center tabular-nums;

  /* Notification Badge 스타일 */
  &.dsds-badge-notification {
    @apply inline-flex h-3 min-w-3 shrink-0 rounded-px border px-px whitespace-nowrap;
    @apply border-badge-notification-border bg-badge-notification-bg text-badge-notification-text;
  }

  /* Count Badge 스타일 */
  &.dsds-badge-count {
    @apply flex h-3 min-w-3 rounded-full border leading-2.5!;
    @apply border-badge-count-border bg-badge-count-bg text-badge-count-text;
  }

  /* Count Badge 숫자 정렬 보정 */
  &.dsds-badge-count-single-digit {
    @apply pl-px;
  }

  &.dsds-badge-count-multi-digit {
    @apply pr-[0.5px] pl-px;
  }

  /* Text Badge 스타일 */
  &.dsds-badge-text {
    @apply flex h-4 min-w-5 justify-center px-1 py-0.5 font-mono;
    @apply bg-badge-text-bg-default text-badge-text-text;
  }

  &.dsds-badge-text-blue {
    @apply bg-badge-text-bg-blue;
  }
}
