@theme inline {
  --color-icon-path-default: var(--colors-neutral-neutral-01);
  --color-check-off-bg-default: var(--colors-neutral-neutral-01);
  --color-check-off-bg-disable: var(--colors-neutral-neutral-06);
}

@utility border-check-off-default {
  border: 1px solid var(--colors-neutral-neutral-09);
}

@utility border-check-off-hover {
  border: 1px solid var(--colors-neutral-neutral-12);
}

@utility dsds-checkbox-active {
  @apply bg-brand border-brand;
}

@utility dsds-checkbox-active-hover {
  @apply bg-brand-hover border-brand-hover;
}

@utility dsds-checkbox-focus {
  @apply outline-ring border-check-off-hover;
}

@utility dsds-checkbox-active-focus {
  @apply dsds-checkbox-active-hover outline-ring;
}

.dsds-checkbox {
  @apply size-[14px] shrink-0 rounded-xs;
  @apply border-check-off-default bg-check-off-bg-default border;
  @apply data-[state=checked]:dsds-checkbox-active;
  @apply data-[state=indeterminate]:dsds-checkbox-active;

  &:focus-visible {
    @apply dsds-checkbox-focus;
    @apply data-[state=checked]:dsds-checkbox-active-focus;
    @apply data-[state=indeterminate]:dsds-checkbox-active-focus;
  }

  & > .dsds-checkbox-indicator {
    @apply p-0!;
  }

  &:disabled {
    @apply cursor-not-allowed;
    @apply data-[state=unchecked]:bg-check-off-bg-disable;
  }

  &:not(:disabled) {
    @apply hover:border-check-off-hover;
    @apply data-[state=checked]:hover:dsds-checkbox-active-hover;
    @apply data-[state=indeterminate]:hover:dsds-checkbox-active-hover;
  }

  .dsds-checkbox-indicator {
    /* 부모가 `button:disabled` 상태일 때 아이콘에 적용할 스타일 */
    button:disabled & {
      opacity: 0.35;
    }

    @apply flex items-center justify-center text-current transition-none;
  }
}
