@import "./variables/index.css";

@theme inline {
  --color-toggle-bg: var(--colors-neutral-neutral-04);
  --color-toggle-border: var(--colors-neutral-neutral-09);
  --color-toggle-disabled-bg: var(--colors-neutral-neutral-06);
  --color-toggle-disabled: var(--colors-neutral-neutral-08);
  --color-toggle-hover-bg: var(--colors-neutral-neutral-03);
  --color-toggle-hover-border: var(--colors-neutral-neutral-11);
  --color-toggle-thumb-bg: var(--colors-neutral-neutral-13);
  --color-toggle-thumb-bg-check: var(--colors-neutral-neutral-01);
  --color-toggle-thumb-bg-check-disabled: var(--colors-neutral-neutral-02);
  --color-toggle-thumb-stroke: var(--color-border-border-focused-activated-hover);
  --color-toggle-thumb-stroke-disabled: #d2d7dd;
  --color-toggle-bg-check: var(--color-bg-on-shape-brand);
  --color-toggle-bg-check-disable: var(--colors-neutral-neutral-08);
  --color-toggle-bg-check-hover: var(--colors-wafer-blue-wafer-blue-09);
}

@utility dsds-toggle-unchecked-hover {
  @apply border-toggle-uncheck-hover bg-toggle-hover-bg;
}

@utility dsds-toggle-unchecked-focus {
  @apply border-toggle-uncheck-hover outline-ring;
}

@utility dsds-toggle-unchecked {
  @apply bg-toggle-bg border-toggle-uncheck;

  &:hover {
    @apply dsds-toggle-unchecked-hover;
  }

  &:focus-visible {
    @apply dsds-toggle-unchecked-focus;
  }

  &:disabled {
    @apply bg-toggle-disabled-bg border-toggle-disabled;
  }
}

@utility dsds-toggle-checked-hover {
  @apply bg-toggle-bg-check-hover;
}

@utility dsds-toggle-checked-focus {
  @apply bg-toggle-bg-check-hover outline-ring;
}

@utility dsds-toggle-checked {
  @apply bg-toggle-bg-check shadow-toggle-check;

  &:hover {
    @apply dsds-toggle-checked-hover;
  }

  &:focus-visible {
    @apply dsds-toggle-checked-focus;
  }

  &:disabled {
    @apply bg-toggle-bg-check-disable hover:not-[:disabled]:bg-toggle-bg-check-hover shadow-toggle-disabled;
  }
}

@utility dsds-toggle-thumb-checked {
  @apply bg-toggle-thumb-bg-check;
  @apply mx-[-1px]! my-[-1px]!;

  &:not([data-disabled]) {
    box-shadow:
      1px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.04);
  }

  &[data-disabled] {
    @apply [&>.icon>svg]:stroke-toggle-thumb-stroke-disabled bg-toggle-thumb-bg-check-disabled;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.08);
  }
}

@utility dsds-toggle-thumb-unchecked {
  @apply [&>.icon]:hidden;

  &[data-disabled] {
    @apply bg-toggle-disabled;
  }
}

@utility border-toggle-uncheck {
  box-shadow: inset 0 0 0 1px var(--color-toggle-border);
}

@utility border-toggle-uncheck-hover {
  box-shadow: inset 0 0 0 1px var(--color-toggle-hover-border);
}

@utility border-toggle-disabled {
  box-shadow: inset 0 0 0 1px var(--color-toggle-disabled);
}

@utility shadow-toggle-check {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08) inset;
}

@utility shadow-toggle-disabled {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08) inset;
}

.dsds-toggle {
  @apply inline-flex shrink-0 items-center rounded-full;
  @apply focus-visible:outline-ring outline-ring-none outline-offset-2;
  @apply disabled:cursor-not-allowed;
  @apply transition-none duration-0;

  &.dsds-toggle-large {
    @apply h-6 max-h-6 min-h-6 w-10;
  }
  &.dsds-toggle-medium {
    @apply h-5 max-h-5 min-h-5 w-8;
  }
  &.dsds-toggle-small {
    @apply h-4 max-h-4 min-h-4 w-7;
  }

  .dsds-toggle-thumb {
    @apply flex items-center justify-center rounded-full transition-transform duration-100;
    @apply data-[state=checked]:translate-x-[calc(100%-1px)] data-[state=unchecked]:translate-x-[3px];
    @apply data-[state=unchecked]:bg-toggle-thumb-bg;
    @apply data-[state=checked]:dsds-toggle-thumb-checked;
    @apply data-[state=unchecked]:dsds-toggle-thumb-unchecked;

    &.dsds-toggle-thumb-large {
      @apply data-[state=checked]:size-5 data-[state=unchecked]:size-[18px];
    }
    &.dsds-toggle-thumb-medium {
      @apply data-[state=checked]:size-4 data-[state=unchecked]:size-[14px];
    }
    &.dsds-toggle-thumb-small {
      @apply data-[state=checked]:size-[14px] data-[state=unchecked]:size-3;
      @apply data-[state=checked]:translate-x-[calc(100%)] data-[state=unchecked]:translate-x-0.5;
    }
  }
}
